<div class="header">
  <img
    class="playlist-image"
    [src]="playlist()?.imageUrl"
    [alt]="playlist()?.name"
  />
  <div class="header-content">
    <div class="header-info">
      <h1>{{ playlist()?.name }}</h1>
      @if (playlist()?.description) {
        <h2>{{ playlist()?.description }}</h2>
      }
    </div>

    @if (parentPlaylist()) {
      <div class="header-parent-playlist">
        <a [routerLink]="parentDetailRoute()">{{ parentPlaylist()?.name }}</a>
        <span>Back to </span>
      </div>
    }
  </div>
  <div class="header-controls">
    <lib-play-pause-button
      [state]="playButtonState()"
      [type]="buttonType"
      [size]="buttonSize"
      (toggle)="playPauseClicked($event)"
    ></lib-play-pause-button>
  </div>
</div>

<div class="actions">
  <button mat-flat-button (click)="openAddTracks.emit()">
    <lucide-icon [img]="addTracksIcon"></lucide-icon>
    <span>Add tracks from library</span>
  </button>
  <lib-switch
    label="Include tracks from children playlists"
    (toggled)="toggleIncludeChildren($event)"
  />
</div>

<div class="content">
  <app-songs-table
    [tracks]="tracks()"
    [playingTrackId]="playingTrackId()"
    [actionsMenuConfig]="songActionsMenuConfig()"
    (playTrack)="playTrack.emit($event)"
    (pauseTrack)="pause.emit()"
    (queryChange)="queryChange.emit($event)"
  ></app-songs-table>
</div>
