<app-scene-console
  [scene]="scene()"
  [playlist]="playlist()"
  [tracks]="tracks()"
  [ambience]="ambience()"
  [stingers]="stingers()"
  [tagsMap]="tagsMap()"
  [sceneImageUrl]="sceneImageUrl()"
  (changeAmbience)="changeAmbienceSelection()"
  (changeStingers)="changeStingerSelection()"
  (playAmbience)="playAmbience()"
  (pauseAmbience)="pauseAmbience()"
  (playSoundEffect)="playSoundEffect($event)"
  (pauseSoundEffect)="pauseSoundEffect($event)"
  (changeSoundEffectVolume)="changeSoundEffectVolume($event)"
></app-scene-console>
