<app-scene-console
  [scene]="scene()"
  [scenePlaying]="scenePlaying()"
  [playlist]="playlist()"
  [tracks]="tracks()"
  [ambience]="ambience()"
  [stingers]="stingers()"
  [tagsMap]="tagsMap()"
  [sceneImageUrl]="sceneImageUrl()"
  [ambiencePlayMap]="playMap()"
  [stingersPlayMap]="playMap()"
  [playingTrack]="playingTrack()"
  (changeAmbience)="changeAmbienceSelection()"
  (changeStingers)="changeStingerSelection()"
  (playScene)="playScene()"
  (pauseScene)="stopScene()"
  (playAmbience)="playAmbience()"
  (pauseAmbience)="pauseAmbience()"
  (playAmbienceSoundEffect)="playSoundEffect($event, true)"
  (playStingerSoundEffect)="playSoundEffect($event, false)"
  (pauseSoundEffect)="pauseSoundEffect($event)"
  (changeSoundEffectVolume)="changeSoundEffectVolume($event)"
></app-scene-console>
