<app-smart-table
  [config]="config"
  [dataSet]="soundEffects()"
  [loading]="loading()"
></app-smart-table>

<ng-template #playColumn let-row="$implicit">
  <lib-play-pause-button
    [state]="getPlayBtnState(row)"
    (toggle)="emitPlayOrPause(row)"
  />
</ng-template>

<ng-template #loopColumn let-row="$implicit">
  <app-repeat-state-button [repeatState]="getRepeatState(row)" (clicked)="toggleEffectLoop.emit(row)" />
</ng-template>

<ng-template #tagColumn let-row="$implicit">
  @if (row.tags) {
    <lib-tag-list-smart
      [tagIds]="row.tags"
      [editable]="false"
      [priorityValue]="'currentSearchValue()'"
    />
  }
</ng-template>
