<section>
  <h1 class="main-message">
    Welcome back to <span class="first-part">Dungeon</span
    ><span class="second-part">Jam</span>!
  </h1>
</section>

<section>
  <h2>Your Playlists</h2>
  <app-playlist-grid-smart [showControls]="false" />
</section>

<section>
  <h2>Your Tracks</h2>
  <app-songs-table
    [tracks]="tracks() | slice: 0 : 4"
    [playingTrackId]="playingTrackId()"
    [loading]="tracksLoading()"
    [showActionsColumn]="false"
    [showControls]="false"
    (playTrack)="playTrack.emit($event)"
    (pauseTrack)="pauseTrack.emit($event)"
  ></app-songs-table>
</section>
