<button
  class="queue-display"
  [matMenuTriggerFor]="queueMenu"
  [disabled]="!queueCount()"
  (click)="preventOnEmptyQueue($event)"
>
  <svg [lucideIcon]="playlistIcon"></svg>
  <span class="queue-count">{{ queueCount() }}</span>
</button>

<mat-menu #queueMenu="matMenu" xPosition="after" yPosition="above">
  <div class="queue-detail" (click)="$event.stopPropagation()">
    @if (currentTrack(); as track) {
      <h3>Playing:</h3>
      <div class="track-list">
        <div class="track-detail">
          <div class="track-title" libScrollOverflowText>{{ track.name }}</div>
          <div class="track-author" libScrollOverflowText>
            {{ track.author }}
          </div>
        </div>
      </div>
    }
    <h3>Queue:</h3>
    <div class="track-list">
      @for (item of playback().queue; track item.track.id) {
        <div class="track-detail">
          <div class="track-title" libScrollOverflowText>
            @if (item.isInjected) {
              *
            }
            {{ item.track.name }}
          </div>
          <div class="track-author" libScrollOverflowText>
            {{ item.track.author }}
          </div>
        </div>
      }
    </div>
  </div>
</mat-menu>
