# IntelliJ project files
.idea
*.iml
out
gen

# Node
node_modules
/*/**/node_modules

# Build
build
dist
dist-electron

#ENV files
*.env*
!.env.example
!.prod.env.example

#Coverage
coverage

tests/reports
plans
TODO.md