@use 'colors' as col;
@use 'typography' as typo;

.sound-effects {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 6px;
  gap: 6px;
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.sound-effect-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  padding: 4px;
  border-radius: 4px;
}
