<div
  class="grid-item"
  (click)="clicked.emit()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="image-wrapper" [ngStyle]="imageSizeStyle()">
    @if (image(); as imageUrl) {
      <div class="images-container">
        <img [src]="imageUrl" [alt]="title()" />
      </div>
    } @else {
      <svg
        class="no-image-icon"
        [lucideIcon]="noImageIcon()!"
        [size]="fallbackIconSize()"
      />
    }

    <ng-content select="content" />

    @if (actions().length > 0 && dataItem()) {
      <div class="action-overlay">
        <lib-icon-button
          [icon]="actionsIcon"
          size="regular"
          color="neutral"
          class="action-button"
          [matMenuTriggerFor]="gridItemMenu"
          (click)="preventClickBubbling($event)"
        ></lib-icon-button>
        <mat-menu #gridItemMenu>
          <lib-actions-menu
            [config]="actions()"
            [item]="dataItem()!"
          ></lib-actions-menu>
        </mat-menu>
      </div>
    }

    @if (isHovering()) {
      <ng-content select="hovering-content" />
    }
  </div>
  <div class="properties">
    <div libScrollOverflowText class="title" [ngStyle]="titleSizeStyle()">
      {{ title() }}
    </div>
    @if (tags(); as tags) {
      <div class="tags">
        @for (tag of tags; track tag.title) {
          <span class="tag">{{ tag.title }}</span>
        }
      </div>
    }
  </div>
</div>
