<div class="info">
  <p>{{ currentTrack()?.name || '' }}</p>
  <p>{{ currentTrack()?.author || '' }}</p>
</div>
<div class="controls">
  <!-- Prev -->
  <div class="buttons">
    <lib-icon-button
      [icon]="prevIcon"
      size="regular"
      (clicked)="skipPrev.emit()"
    ></lib-icon-button>

    <!-- Play/Pause -->
    <lib-play-pause-button
      [state]="playPauseState()"
      (toggle)="togglePlayPause($event)"
    ></lib-play-pause-button>

    <!-- Next -->
    <lib-icon-button
      [icon]="nextIcon"
      size="regular"
      (clicked)="skipNext.emit()"
    ></lib-icon-button>
  </div>

  <app-player-bar
    class="duration-bar"
    [duration]="playBackState().duration"
    [position]="playBackState().position"
    (seek)="seek.emit($event)"
  ></app-player-bar>
</div>
<div class="volume">
  @if(queueCount() > 0){
  <div class="queue-display">
    <lucide-icon [img]="playlistIcon"></lucide-icon>
    <span class="queue-count">{{ queueCount() }}</span>
  </div>
  }
  <div class="volume-wrapper">
    <app-volume-control
      [volume]="volume()"
      (changed)="volumeChange.emit($event)"
    ></app-volume-control>
  </div>
</div>
