<div class="control-wrapper">
  @if (hasImage()) {
    <button class="discard-button" (click)="discardImage()">X</button>
    <img class="selected-image" [src]="imageDataUrl()" [alt]="imagePath()" />
  } @else {
    <app-songs-drop-in-zone
      class="drop-in-zone"
      accept="image/.*"
      (filesDropped)="processDroppedFiles($event)"
    >
    <div class="upload-wrapper" (click)="openImageDialog()">
      <lucide-icon [img]="UploadIcon" [size]="48"></lucide-icon>
      <span>Click here to select an image.</span>
    </div>
    </app-songs-drop-in-zone>
  }
  <div class="upload-label">{{label()}}{{required() ? '*' : ''}}</div>
</div>
