@use "mixins" as mix;

:host {
  @include mix.base-dialog();
  border-radius: 0 !important;

  .wrapper {
    border-radius: 0 !important;
  }

  .footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
