@if (loading()) {
  <lib-loader class="loader"></lib-loader>
} @else {
  <div class="console-header">
    @if (sceneImageUrl(); as image) {
      <img [src]="image" alt="Scene image" class="scene-image" />
    }
    <div class="header-content">
      <div class="header-properties">
        <h1 class="scene-title">{{ scene()?.name }}</h1>
        <lib-tag-list-smart [tagIds]="scene()?.tags ?? []"></lib-tag-list-smart>
      </div>
      <div class="header-actions">
        <lib-play-pause-button
          [state]="scenePlayButtonState()"
          [type]="ButtonType.Flat"
          [size]="'large'"
          (toggle)="toggleScenePlaying($event)"
        />
      </div>
    </div>
  </div>
  <div class="console-content">
    <div class="music-sector">
      <h2 class="section-header">
        Music
        <span class="playlist-name">Playlist: {{ playlist()?.name }}</span>
      </h2>

      <app-songs-table
        [tracks]="tracks()"
        [playingTrackId]="playingTrackId()"
        [loading]="false"
        [hiddenColumns]="excludedColumns"
        [showFilters]="false"
      ></app-songs-table>
    </div>
    <div class="sound-effects-sector">
      <div class="ambience sound-effects-sector-item">
        @if (ambience().length) {
          <app-scene-sound-effects-list
            [soundEffects]="ambience()"
            [playMap]="ambiencePlayMap()"
            title="Ambience"
            (changeSelection)="changeAmbience.emit()"
            (playAll)="playAmbience.emit()"
            (pauseAll)="pauseAmbience.emit()"
            (playSoundEffect)="playAmbienceSoundEffect.emit($event)"
            (pauseSoundEffect)="pauseSoundEffect.emit($event)"
            (changeVolume)="changeSoundEffectVolume.emit($event)"
          ></app-scene-sound-effects-list>
        } @else {
          <app-add-sound-effects-section
            soundEffectType="ambience"
            (addSoundEffects)="changeAmbience.emit()"
          ></app-add-sound-effects-section>
        }
      </div>

      <div class="stingers sound-effects-sector-item">
        @if (stingers().length) {
          <app-scene-sound-effects-list
            [soundEffects]="stingers()"
            [playMap]="stingersPlayMap()"
            [showPlayAll]="false"
            title="Stingers"
            (changeSelection)="changeStingers.emit()"
            (playSoundEffect)="playStingerSoundEffect.emit($event)"
            (pauseSoundEffect)="pauseSoundEffect.emit($event)"
            (changeVolume)="changeSoundEffectVolume.emit($event)"
          ></app-scene-sound-effects-list>
        } @else {
          <app-add-sound-effects-section
            soundEffectType="ambience"
            (addSoundEffects)="changeStingers.emit()"
          ></app-add-sound-effects-section>
        }
      </div>
    </div>
  </div>
}
