<app-scenes-grid
  [scenes]="scenes()"
  [loading]="scenesLoading()"
  [sceneImageMap]="imageMap()"
  [tagsMap]="tagMap()"
  [playingSceneId]="playingSceneId()"
  [itemPlayable]="itemPlayable()"
  [itemSelectable]="itemSelectable()"
  [itemDetailNavigation]="itemDetailNavigation()"
  [showControls]="showControls()"
  [sizeConfig]="sizeConfig()"
  [availableSizes]="availableSizes()"
  [currentSizeIndex]="currentSizeIndex()"
  [initialSelection]="initialSelection()"
  (showDetail)="navigateToDetail($event)"
  (playScene)="playScene($event)"
  (pauseScene)="stopScene($event)"
  (sizeChange)="handleSizeChange($event)"
  (search)="searchFilter.set($event)"
  (selected)="selected.emit($event)"
></app-scenes-grid>
