.drop-zone-wrapper {
  display: block;
  padding: 1rem;
  border: 1px solid white;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &.file-over {
    background: red;
    .content {
      display: none;
    }
  }
}
