<app-sound-effects-library
  [dataset]="paginatedSoundEffects()"
  [loading]="loading()"
  [playingEffectIds]="playingEffectIds()"
  [focusSoundEffectId]="soundEffectId()"
  [pagination]="paginationConfig()"
  (uploadAudioFiles)="createFromFiles($event)"
  (playEffect)="playEffect($event)"
  (stopEffect)="stopEffect($event)"
  (toggleEffectLoop)="toggleEffectLoop($event)"
  (effectVolumeChange)="updateVolume($event)"
  (queryOptions)="currentQueryOptions.set($event)"
  (editSoundEffect)="editSoundEffect($event)"
  (deleteSoundEffect)="deleteSoundEffect($event)"
  (reorderDrop)="reorderSoundEffects($event)"
  (openAudioFilesDialog)="beginUploadWithDialogSelection()"
  (pageChange)="updatePaginationPage($event)"
/>
