@use 'colors' as col;

.toast {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.75rem;

  &.success {
    background: col.$primary;
    color: white;
  }

  &.error {
    background: col.$error;
    color: white;
  }

  .toast-title,
  .toast-message {
    margin: 0;
  }

  .dismiss-button {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

::ng-deep .mdc-snackbar__label {
  padding: 0;
}
