@use 'colors' as col;

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  ::ng-deep lib-input {
    --mat-form-field-container-vertical-padding: 10px;
    --mat-form-field-container-height: 40px;
  }
}

.search-bar {
  max-width: 250px;
}
.table {
  flex: 1;
  background: none;
  overflow-y: auto;
  padding-bottom: 1rem;

  .mat-mdc-row {
    transition: color 0.25s ease;
  }
  .active-row {
    background: col.$background-hover;
  }
  .playing {
    color: col.$primary;
  }
  .mat-column-play {
    max-width: 10%;
    min-width: 50px;
  }
  .mat-column-duration {
    max-width: 20%;
    min-width: 80px;
  }
}
