<div
  class="grid-item"
  (click)="onPlaylistClick()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="image-wrapper" [ngStyle]="imageSizeStyle()">
    @if (showTrackCount()) {
      <div class="tracks-overlay small-overlay">
        <lucide-icon [img]="tracksIcon" [size]="sizeConfig().trackCountSize" />
        <span [ngStyle]="trackCountSize()">{{
          playlist().trackIds.length
        }}</span>
      </div>
    }
    @if (parentPlaylist()) {
      <div class="parent-overlay small-overlay">
        {{ parentPlaylist()!.name }}
      </div>
    }
    @if (isHovering() && playlist().trackIds.length > 0) {
      <div
        class="image-overlay"
        [ngStyle]="overlaySizeStyle()"
        (click)="onOverlayButtonClick($event)"
      >
        <lucide-icon class="icon" [img]="overlayIcon()"></lucide-icon>
      </div>
    }
    @if (isPlaying()) {
      <div class="is-playing-overlay small-overlay">
        <lucide-icon
          [img]="playingIcon"
          [size]="sizeConfig().trackCountSize ?? 14"
        ></lucide-icon>
      </div>
    }
    @if (playlistImageUrl()){
      <img [src]="imageSrc()" alt="{{ playlist().name }}" />
    } @else {
      <lucide-icon class="playlist-icon" [img]="PlaylistIcon" [size]="defaultIconSize()" />
    }

  </div>
  <div class="properties">
    <div class="title" [ngStyle]="titleSizeStyle()">{{ playlist().name }}</div>
    @if (!sizeConfig().hideTags) {
      <div class="tags" [ngStyle]="tagsSizeStyle()">
        @for (tag of playlist().tags; track tag) {
          <span class="tag">{{ tag.title }}</span>
        }
      </div>
    }
  </div>
</div>
