@let playlistItem = playlist();
<app-grid-item
  [title]="playlistItem.name"
  [tags]="playlistItem.tags"
  [image]="imageSrc()"
  [noImageIcon]="PlaylistIcon"
  [sizeConfig]="sizeConfig()"
  (clicked)="onPlaylistClick()"
>
  <div ngProjectAs="content" style="display: contents">
    @if (showTrackCount()) {
      <div class="tracks-overlay small-overlay">
        <lucide-icon
          [img]="tracksIcon"
          [size]="sizeConfig().trackCountSize"
        />
        <span [ngStyle]="trackCountSize()">{{
          playlist().trackIds.length
        }}</span>
      </div>
    }
    @if (parentPlaylist()) {
      <div class="parent-overlay small-overlay">
        {{ parentPlaylist()!.name }}
      </div>
    }
    @if (isPlaying()) {
      <div class="is-playing-overlay small-overlay">
        <lucide-icon
          [img]="playingIcon"
          [size]="sizeConfig().trackCountSize ?? 14"
        ></lucide-icon>
      </div>
    }
  </div>
  <div ngProjectAs="hovering-content" style="display: contents">
    <div class="hover-overlay">
      <lucide-icon
        class="icon"
        [img]="overlayIcon()"
        (click)="onOverlayButtonClick($event)"
      ></lucide-icon>
    </div>
  </div>
</app-grid-item>
