@use 'colors' as col;
@use 'typography' as typo;

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 0.5rem;
  padding: 1rem;
  background: transparent;
  border-radius: 12px;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;

  &:hover {
    background-color: rgba(#000, 0.25);
  }

  .image-wrapper {
    position: relative;
    display: flex;
    transition:
      width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .image-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition:
        opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: rgba(#000, 0.5);
      .icon {
        transform: translateY(2px);
      }
      &:hover {
        background: rgba(col.$primary-dark-dark, 0.65);
        .icon {
          color: col.$primary;
        }
      }
    }

    img {
      border-radius: 8px;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 0.5s ease-out;
    }
  }

  .properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .title {
      font-weight: bold;
      transition:
        font-size 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        font-weight 0.4s ease-out;
    }

    .tags {
      display: flex;
      gap: 0.125rem;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      text-wrap: nowrap;
      overflow-x: hidden;
      transition: font-size 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      margin-top: 4px;

      .tag {
        padding: 6px;
        border-radius: 12px;
        background: rgba(#000, 0.15);
      }
    }
  }
}
