<div class="display-wrapper">
  <app-grid-controls
    [showSizeControl]="activeViewMode() === 'grid'"
    (search)="search.emit($event)"
    (sizeChange)="cardSize.set($event)"
  >
    @if (!hideToggle()) {
      <app-sound-effect-display-mode-switch
        class="mode-switcher"
        [mode]="activeViewMode()"
        (modeChange)="onModeChange($event)"
      />
    }
  </app-grid-controls>

  <div class="content-container">
    @if (activeViewMode() === 'grid') {
      <app-sound-effect-card-grid
        [soundEffects]="soundEffects()"
        [loading]="loading()"
        [currentlyPlaying]="currentlyPlaying()"
        [actionsMenu]="actionsMenu()"
        [cardSize]="cardSize()"
        (playEffect)="playEffect.emit($event)"
        (stopEffect)="stopEffect.emit($event)"
        (toggleEffectLoop)="toggleEffectLoop.emit($event)"
        (effectVolumeChange)="effectVolumeChange.emit($event)"
        (reorderDrop)="reorderDrop.emit($event)"
      />
    } @else {
      <app-sound-effect-table
        class="effect-table"
        [soundEffects]="soundEffects()"
        [loading]="loading()"
        [currentlyPlaying]="currentlyPlaying()"
        [actionsMenu]="actionsMenu()"
        [selection]="selection()"
        [initialSelection]="initialSelection()"
        [allSelectedState]="allSelectedState()"
        [hiddenColumns]="hiddenColumns()"
        (playEffect)="playEffect.emit($event)"
        (stopEffect)="stopEffect.emit($event)"
        (toggleEffectLoop)="toggleEffectLoop.emit($event)"
        (selectionChange)="selectionChange.emit($event)"
      />
    }
  </div>
  @let pagination = paginationConfig();
  @if (pagination) {
    <div class="footer">
      <mat-paginator
        [length]="pagination.totalItems"
        [pageSize]="pagination.pageSize"
        [pageSizeOptions]="pagination.pageSizeOptions"
        [pageIndex]="pagination.currentPageIndex"
        aria-label="Select page"
        (page)="pageChange.emit($event)"
      ></mat-paginator>
    </div>
  }
</div>
