@use "colors" as col;
.content{
  padding: 1rem;
  border-radius: 18px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;

  .content-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &:hover{
    background: col.$background-hover;
  }
}
