@use 'mixins' as mix;

:host {
  @include mix.base-dialog();
  width: 80vw;
  display: flex;
  .wrapper {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .footer-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;
  }
}
