<h1 class="title">Sound Effects</h1>
<button mat-flat-button (click)="openAudioFilesDialog.emit()">
  Upload new sound effects
</button>

<app-songs-drop-in-zone
  class="content"
  (audioDropped)="uploadAudioFiles.emit($event)"
>
  <app-sound-effects-display
    [soundEffects]="dataset()"
    [loading]="loading()"
    [currentlyPlaying]="playingEffectIds()"
    [actionsMenu]="actionMenuConfig"
    [paginationConfig]="pagination()"
    (playEffect)="playEffect.emit($event)"
    (stopEffect)="stopEffect.emit($event)"
    (toggleEffectLoop)="toggleEffectLoop.emit($event)"
    (effectVolumeChange)="effectVolumeChange.emit($event)"
    (reorderDrop)="reorderDrop.emit($event)"
    (search)="currentSearch.set($event)"
    (pageChange)="pageChange.emit($event)"
  />
</app-songs-drop-in-zone>
