<mat-form-field [subscriptSizing]="'dynamic'">
  <mat-label>Parent</mat-label>
  <mat-select (selectionChange)="emitSelection($event)">
    @if (!playlists().length) {
      <mat-option [value]="null" disabled
        >There are no playlists with children.</mat-option
      >
    } @else {
      <mat-option [value]="null">Show All</mat-option>
      <mat-option [value]="'no-parent'">No Parent</mat-option>
      <mat-divider></mat-divider>
      @for (option of playlists(); track option.id) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    }
  </mat-select>
</mat-form-field>
