@use "sass:color";

$background-main: #13171c;
$background-deep: color.scale($background-main, $lightness: -20%);

$primary: #1ea193;
$primary-light: #27d1bf;
$primary-dark: #1c6c66;
$primary-dark-dark: #142226;

$text-main: #dfe1e3;
