@font-face {
  font-family: 'Noto Sans';
  src: url('../assets/fonts/NotoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01em;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../assets/fonts/NotoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01em;
}


@mixin default-font(){
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
