@use '@angular/material' as mat;
@use 'styles_theme-colors' as custom;
@import "colors";
@import "typography";

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: custom.$primary-palette,
      tertiary: custom.$tertiary-palette,
    ),
    typography: (
      plain-family: $font,
      brand-family: $font,
      bold-weight: 800,
      medium-weight: 500,
      regular-weight: 300
    ),
    density: 0,
  ));

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $background-deep;
  overflow: hidden;
  @include default-font();
}
app-root {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 8px 8px 0 8px;
  padding: 8px;
  background: $background-main;
  color: $text-main;

  & > *{
    box-sizing: border-box;
  }
}
