@use '@angular/material' as mat;
@use './styles_theme-colors' as custom;
@use './colors' as col;
@use './typography' as typo;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: custom.$primary-palette,
      tertiary: custom.$tertiary-palette,
    ),
    typography: (
      plain-family: typo.$font,
      brand-family: typo.$font,
      bold-weight: 800,
      medium-weight: 500,
      regular-weight: 300
    ),
    density: 0,
  ));
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: col.$background-deep;
  overflow: hidden;
  @include typo.default-font();
}
app-root {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 8px 8px 0 8px;
  padding: 8px;
  background: col.$background-main;
  color: col.$text-main;

  & > *{
    box-sizing: border-box;
  }
}
