<app-playlists-detail-page
  [playlist]="playlist()"
  [tracks]="tracks()"
  [parentPlaylist]="parentPlaylist()"
  [childrenPlaylists]="childPlaylists()"
  [playingTrackId]="playbackState()?.currentTrack?.id"
  [playlistPlaying]="isPlaylistPlaying()"
  [songActionsMenuConfig]="songActionsMenuConfig()"
  (playPlaylist)="playPlaylist()"
  (playTrack)="playTrack($event)"
  (pause)="pausePlaying()"
  (queryChange)="updateQuery($event)"
  (openAddTracks)="openAddTracksModal()"
  (includeChildren)="updateIncludeChildren($event)"
  (editPlaylist)="openEditPlaylistModal()"
></app-playlists-detail-page>
