<div class="wrapper">
  <div class="header">
    <h1>Select sound effects</h1>
  </div>

  <div class="content">
    <app-sound-effects-display
      class="table"
      [soundEffects]="soundEffects()"
      [viewMode]="'table'"
      [hideToggle]="true"
      [selection]="true"
      [initialSelection]="selection()"
      [allSelectedState]="selectAllState()"
      [loading]="loading()"
      [currentlyPlaying]="currentlyPlayingList()"
      [hiddenColumns]="['actions', 'looping', 'volume']"
      (selectionChange)="selectionChanged($event)"
      (playEffect)="playEffect($event)"
      (stopEffect)="stopEffect()"
    />
  </div>

  <div class="footer">
    <div class="footer-button">
      <button mat-flat-button color="neutral" (click)="cancelClick()">
        Cancel
      </button>
      <button mat-flat-button color="primary" (click)="saveSelection()">
        Save
      </button>
    </div>
  </div>
</div>
