@use 'colors' as col;
@use 'typography' as typo;

:host {
  display: flex;
  flex-direction: column;
}

.sound-effects {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.25rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .title-section {
    display: flex;
    gap: 0.5rem;

    .list-header {
      @include typo.h3();
    }
  }
}
