<div class="tag-detail-page">
  <div class="title-header">
    <button
      class="tag-color"
      [ngStyle]="tagColorStyle()"
      (click)="openColorPicker()"
    ></button>
    <input
      #colorInput
      type="color"
      class="color-input"
      [value]="tag()?.color"
      (change)="emitNewColor()"
    />
    <h1>Tag -&nbsp;</h1>
    @if (!titleEditMode()) {
      <h1 class="tag-title">
        {{ pageTitle() }}
        <lib-icon-button
          [icon]="editIcon"
          class="edit-title-button"
          (clicked)="startTitleEdit()"
        />
      </h1>
    } @else {
      <input
        #titleInput
        type="text"
        class="title-input"
        [value]="pageTitle()"
        (blur)="updateTitle()"
        (keydown.enter)="updateTitle()"
      />
      <lib-icon-button [icon]="confirmIcon" (clicked)="updateTitle()" />
      <lib-icon-button [icon]="cancelIcon" (clicked)="stopEditMode()" />
    }
  </div>
  <div class="actions-bar">
    <button mat-flat-button (click)="addTracks.emit()">
      <div class="button-content">
        <lucide-icon [img]="addTracksIcon" />
        <span>Add tracks to tag</span>
      </div>
    </button>
  </div>
  <app-songs-table
    [tracks]="tracks()"
    [loading]="loading()"
    [showFilters]="false"
    [playingTrackId]="playingTrackId()"
    [actionsMenuConfig]="songsTableActions()"
    (playTrack)="playTrack.emit($event)"
    (pauseTrack)="pauseTrack.emit()"
  ></app-songs-table>
</div>
