@use 'typography' as typo;

h1 {
  @include typo.default-font();
}

:host {
  height: 89vh;
  width: 97vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .page-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 80px;
  }

  ::ng-deep .app-loader {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-25%, -40%);
    color: white;
  }
}
